.App {
  background-image: linear-gradient(to bottom right, #3a6b58, #0e5d90);
  min-height: 160vh;
  color: white;
}

.nowPlaying {
  padding: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
}
